<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggevip.dao.InvitationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.xinggevip.domain.Invitation">
                    <id column="id" property="id"/>
                    <result column="activate_id" property="activateId"/>
                    <result column="invitation_code" property="invitationCode"/>
                    <result column="invitation_type" property="invitationType"/>
                    <result column="use_num" property="useNum"/>
                    <result column="strone" property="strone"/>
                    <result column="strtwo" property="strtwo"/>
                    <result column="strthree" property="strthree"/>
                    <result column="numone" property="numone"/>
                    <result column="numtwo" property="numtwo"/>
                    <result column="numthree" property="numthree"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, activate_id, invitation_code, invitation_type, use_num, strone, strtwo, strthree, numone, numtwo, numthree
        </sql>

</mapper>