<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggevip.dao.ScoreitemMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.xinggevip.domain.Scoreitem">
                    <id column="id" property="id"/>
                    <result column="step_id" property="stepId"/>
                    <result column="item_name" property="itemName"/>
                    <result column="min_score" property="minScore"/>
                    <result column="max_score" property="maxScore"/>
                    <result column="score_type" property="scoreType"/>
                    <result column="str_one" property="strOne"/>
                    <result column="strtwo" property="strtwo"/>
                    <result column="strthree" property="strthree"/>
                    <result column="numone" property="numone"/>
                    <result column="numtwo" property="numtwo"/>
                    <result column="numthree" property="numthree"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, step_id, item_name, min_score, max_score, score_type, str_one, strtwo, strthree, numone, numtwo, numthree
        </sql>

</mapper>