<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggevip.dao.ScorevalueMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.xinggevip.domain.Scorevalue">
                    <id column="id" property="id"/>
                    <result column="scoreitem_id" property="scoreitemId"/>
                    <result column="judge_id" property="judgeId"/>
                    <result column="player_id" property="playerId"/>
                    <result column="num_value" property="numValue"/>
                    <result column="str_value" property="strValue"/>
                    <result column="strone" property="strone"/>
                    <result column="strtwo" property="strtwo"/>
                    <result column="strthree" property="strthree"/>
                    <result column="numone" property="numone"/>
                    <result column="numtwo" property="numtwo"/>
                    <result column="numthree" property="numthree"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, scoreitem_id, judge_id, player_id, num_value, str_value, strone, strtwo, strthree, numone, numtwo, numthree
        </sql>
    <select id="getScoreOfEveryOne" resultType="java.util.Map">
        -- 查询有几个评委给指定选手打分，指定活动，指定环节

        SELECT
        activate.id AS activate_id,
        step.id AS step_id,
        scorevalue.player_id,
        scorevalue.judge_id,
        activate.title AS act_title,
        step.title AS step_title,
        player.`name` AS player_name,
        judge.judge_name,
        GROUP_CONCAT(scoreitem.item_name) AS score_item_list,
        Sum(scorevalue.num_value) AS sum_score,
        SUM(scoreitem.max_score) AS max_score,
        player.company,
        player.dep,
        player.post
        FROM
        scorevalue
        LEFT JOIN scoreitem ON scorevalue.scoreitem_id = scoreitem.id
        LEFT JOIN step ON scoreitem.step_id = step.id
        LEFT JOIN activate ON activate.id = step.activate_id
        LEFT JOIN player ON scorevalue.player_id = player.id
        LEFT JOIN judge ON scorevalue.judge_id = judge.id
        WHERE activate.id = #{actid}
        GROUP BY scorevalue.strone
        ORDER BY activate.id,step.id,player.id,judge.id


    </select>

</mapper>