<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggevip.dao.StepMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.xinggevip.domain.Step">
                    <id column="id" property="id"/>
                    <result column="activate_id" property="activateId"/>
                    <result column="title" property="title"/>
                    <result column="profile" property="profile"/>
                    <result column="strone" property="strone"/>
                    <result column="strtwo" property="strtwo"/>
                    <result column="strthree" property="strthree"/>
                    <result column="numone" property="numone"/>
                    <result column="numtwo" property="numtwo"/>
                    <result column="numthree" property="numthree"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, activate_id, title, profile, strone, strtwo, strthree, numone, numtwo, numthree
        </sql>
    <select id="getPlayerByStepIdAndJudgeId" resultType="java.util.Map">
        SELECT
        step.id AS step_id,
        GROUP_CONCAT(scoreitem.item_name) AS score_item_list,
        scorevalue.player_id,
        scorevalue.judge_id,
        Sum(scorevalue.num_value) AS sum_score,
        player.`name`,
        player.company,
        player.dep,
        player.post,
        step.title,
        judge.judge_name
        FROM
        scorevalue
        INNER JOIN scoreitem ON scorevalue.scoreitem_id = scoreitem.id
        INNER JOIN step ON scoreitem.step_id = step.id
        INNER JOIN player ON scorevalue.player_id = player.id
        INNER JOIN judge ON scorevalue.judge_id = judge.id

        <where>
            <if test="judgeid != null and judgeid != ''">
                AND scorevalue.judge_id = #{judgeid}
            </if>

            <if test="stepid != null and stepid != ''">
                AND step.id = #{stepid}
            </if>

            <if test="playername != null and playername != ''">
                AND player.`name` LIKE '%${playername}%'
            </if>

            <if test="playerid!=null and playerid != ''">
                AND scorevalue.player_id = #{playerid}
            </if>
        </where>

        GROUP BY scorevalue.judge_id, scorevalue.player_id
        ORDER BY sum_score DESC
    </select>
    <select id="getYiDaScoreValue" resultType="java.util.Map">
        SELECT
        step.id AS step_id,
        scoreitem.item_name,
        scorevalue.player_id,
        scorevalue.judge_id,
        scoreitem.id AS scoreitem_id,
        scorevalue.num_value,
        scoreitem.max_score,
        player.`name`,
        player.company,
        player.dep,
        player.post,
        step.title,
        judge.judge_name
        FROM
        scorevalue
        INNER JOIN scoreitem ON scorevalue.scoreitem_id = scoreitem.id
        INNER JOIN step ON scoreitem.step_id = step.id
        INNER JOIN player ON scorevalue.player_id = player.id
        INNER JOIN judge ON scorevalue.judge_id = judge.id
        <where>
            <if test="judgeid != null and judgeid != ''">
                AND scorevalue.judge_id = #{judgeid}
            </if>

            <if test="playerid != null and playerid != ''">
                AND scorevalue.player_id = #{playerid}
            </if>

            <if test="stepid != null and stepid != ''">
                AND scoreitem.step_id = #{stepid}
            </if>
        </where>
    </select>

</mapper>