<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinggevip.dao.StepMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.xinggevip.domain.Step">
                    <id column="id" property="id"/>
                    <result column="activate_id" property="activateId"/>
                    <result column="title" property="title"/>
                    <result column="profile" property="profile"/>
                    <result column="strone" property="strone"/>
                    <result column="strtwo" property="strtwo"/>
                    <result column="strthree" property="strthree"/>
                    <result column="numone" property="numone"/>
                    <result column="numtwo" property="numtwo"/>
                    <result column="numthree" property="numthree"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, activate_id, title, profile, strone, strtwo, strthree, numone, numtwo, numthree
        </sql>

</mapper>